<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-colour" content="#FF0000"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="bg-primary-light">
    <div class="d-flex flex-column container-fluid">
      <%# Header%>
      <%= render "shared/header" %>
      <%# content %>
      <main style="{flex: 1 0 auto;}">
        <div class="row">
          <div class="col-12 col-lg-3 px-0">
            <%= render('sidebar')%>
          </div>
          <div class="col-9">
            <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %>">
                <%= value %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </main>
      <%# footer  %>
      <div class="container">
        <%= render('footer')%>
      </div>
    </div>
  </body>
</html>
