<%= form_with(model: profile, url: manage_profile_path, method: 'put') do |form| %>
  <% %i[display_name first_name last_name country state suburb].each do |field| %>
    <% invalid = profile.errors.include?(field) %>
    <div class="form-floating mb-3">
      <%= form.text_field field, class:"form-control #{'is-invalid' if invalid}" %>
      <%= form.label field, class:"text-dark small" %>
      <% if invalid %>
        <div class="form-text invalid-feedback">
          <% profile.errors.full_messages_for(field).each do |message| %>
            <%= message %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.submit class:"btn btn-outline-secondary" %>
  </div>
<% end %>
