<p style="color: green"><%= notice %></p>

<%= render @scaffold %>

<div>
  <%= link_to "Edit this scaffold", edit_scaffold_path(@scaffold) %> |
  <%= link_to "Back to scaffolds", scaffolds_path %>

  <%= button_to "Destroy this scaffold", @scaffold, method: :delete %>
</div>
