<div class="col col-12 col-sm-6 col-lg-4">
  <div id="<%= dom_id item%>" class='card border-dark h-100' style = border-color:<%= item.colour if defined?(colour) %>!important >
    <%= image_tag item.image, class:'card-img-top' if item.image.attached?%>
    <div class="card-header ">
      <h3><%= item.display%></h3>
    </div>
    <div class="card-content">
      <ul class="list-group list-group-flush">

        <% display_attributes.each do |attribute| %>
          <li class="list-group-item">
            <h4> <%= attribute[:label]%> </h4>
            <% content = item.send(attribute[:method])%>
            <% if content.is_a?(Enumerable) %>
              <% content.limit(attribute[:limit]).uniq.each do |line|%>
                <%= attribute.key?(:link) ? link_to(line.display, line, class: 'btn btn-outline-secondary',style:"border-color:#{line.colour if attribute.key?(:colour) }!important ") : line.display%>
              <% end %>
            <% else %>
              <%= attribute.key?(:link) ? link_to(content, item) : content %>
            <% end %> 
          </li>
        <% end %>

      </ul>
    </div>


    <div class="card-footer">

      <% if edit == true %>     
        <%= link_to "Edit this #{item.class}", edit_polymorphic_path(item), class: 'btn btn-outline-primary' %>
        <%= link_to "Back to #{item.class}s", polymorphic_path(item.class), class: 'btn btn-outline-primary' %>
        <%= link_to "Destroy this #{item.class}", polymorphic_path(item), data: { turbo_method: :delete }, class:'btn btn-outline-primary' %>
      <% else %>
        <%= link_to "Show this #{item.class}", item_path(@category, item), class:'btn btn-outline-primary' %>
      <% end%>

    </div>
  </div>
</div>