<footer class="py-3">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><%=link_to 'Home', root_path, class:"nav-link px-2 text-muted"%></li>
    <li class="nav-item"><%=link_to 'Listings', view_path, class:"nav-link px-2 text-muted"%></li>
    <li class="nav-item"><%=link_to 'Messages', messages_root_path, class:"nav-link px-2 text-muted"%></li>
    <li class="nav-item"><%=link_to 'FAQs', faq_path, class:"nav-link px-2 text-muted"%></li>
    <li class="nav-item"><%=link_to 'About', about_path, class:"nav-link px-2 text-muted"%></li>
  </ul>
  <p class="text-center text-muted">&copy; 2022 Green Marketplace, Inc</p>
</footer>
