<header class="row navbar navbar-dark bg-primary">
  <div class="col-3 ">
    <a class="navbar-brand text-secondary" href="">Marketplace</a>
  </div>
  <nav class="col-9 px-0">
    <div class="container-fluid">
      <div class="btn-group" flex-column flex-md-row">
        <%= link_to 'Home', root_path, class:"btn btn-secondary #{active_class(root_path)}"%>
        <%= link_to 'Browse Listings', view_path, class:"btn btn-secondary #{active_namespace(view_path)}"%>
        <%= link_to 'Trader', trader_root_path, class:"btn btn-secondary #{active_namespace(trader_root_path)}"%>
        <%= link_to 'Messages', messages_root_path, class:"btn btn-secondary #{active_namespace(messages_root_path)}"%>
        <%# <%= link_to 'Moderator', moderator_root_path, class:"btn btn-secondary #{active_namespace(moderator_root_path)}"%>
        <%= link_to 'Admin', admin_root_path, class:"btn btn-secondary #{active_namespace(admin_root_path)}"%>
        <%= render 'application/header_user' %>
      </div>
    </div>
  </nav>
</header>
