<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-tabs me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link #{active_class(root_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Trader', trader_root_path, class:"nav-link #{active_class(trader_root_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Moderator', moderator_root_path, class:"nav-link #{active_class(moderator_root_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to 'Admin', admin_root_path, class:"nav-link #{active_class(admin_root_path)}"%>
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Mega menu  </a>
          <div class="dropdown-menu megamenu" role="menu">
            This is content of megamenu. <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </li>
      </ul>
      <% if user_signed_in? %>
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <%= current_user.email%>
        </button>
        <div class="dropdown-menu dropdown-menu-end">
          <%# <div class="dropdown-divider"></div> %>
          <%= link_to 'Edit Profile', edit_user_registration_path,class:'dropdown-item'%>
          <%= link_to 'Sign Out', destroy_user_session_path, data:{turbo_method: :delete},class:'dropdown-item'%>
        </div>
      </div>
    <% else %>
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
        Log In
      </button>
      <div class="dropdown-menu dropdown-menu-end">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),class:"px-4 py-3") do |f| %>
          <div class="field dropdown-item">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field dropdown-item">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field dropdown-item">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions dropdown-item">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
        <div class="dropdown-divider"></div>
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name), class:'dropdown-item' %>
        <% end %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), class:'dropdown-item' %>
        <% end %>
        <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:'dropdown-item' %>
        <% end %>
        <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class:'dropdown-item' %>
        <% end %>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:'dropdown-item', method: :post %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>
