<!DOCTYPE html>
<html>
  <head>
    <title>Marketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-colour" content="#FF0000"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <div class="d-flex flex-column container-fluid">
      <%# Header%>
      <header class="row">
        <div class="col-3 bg-primary navbar">
          <a class="navbar-brand text-white" href="">Marketplace</a>
        </div>
        <nav class="col-9 bg-danger px-0">
          <%= render "layouts/header" %>
        </nav>
      </header>
      <%# content %>
      <main style="{flex: 1 0 auto;}">
        <div class="row">
          <div class="col-12 col-lg-3 bg-warning px-0">
            <%= render('/layouts/sidebar') if @category.nil? == false %>
          </div>
          <div class="col-9 bg-success">
            <% flash.each do |key, value| %>
              <div class="<%= flash_class(key) %>">
                <%= value %><%= key.class %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </main>
      <%# footer  %>
      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">&copy; 2021 Company, Inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>
